USE [InventarioWeb]
GO
/****** Object:  Table [dbo].[DETALLEPROMOCIONES]    Script Date: 13-11-2014 18:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLEPROMOCIONES](
	[IdDetallepromociones] [int] IDENTITY(1,1) NOT NULL,
	[IdPromociones] [int] NULL,
	[IdDetalleproducto] [int] NULL,
	[CantidadDetallepromocion] [int] NULL,
 CONSTRAINT [PK_DETALLEPROMOCIONES] PRIMARY KEY CLUSTERED 
(
	[IdDetallepromociones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROMOCIONES]    Script Date: 13-11-2014 18:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROMOCIONES](
	[IdPromociones] [int] IDENTITY(1,1) NOT NULL,
	[CodigoPromocion] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL,
	[PrecioVenta] [int] NULL,
 CONSTRAINT [PK_PROMOCIONES] PRIMARY KEY CLUSTERED 
(
	[IdPromociones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DETALLEPROMOCIONES]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEPROMOCIONES_DETALLEPRODUCTO] FOREIGN KEY([IdDetalleproducto])
REFERENCES [dbo].[DETALLEPRODUCTO] ([IdDetalleproducto])
GO
ALTER TABLE [dbo].[DETALLEPROMOCIONES] CHECK CONSTRAINT [FK_DETALLEPROMOCIONES_DETALLEPRODUCTO]
GO
ALTER TABLE [dbo].[DETALLEPROMOCIONES]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEPROMOCIONES_PROMOCIONES] FOREIGN KEY([IdPromociones])
REFERENCES [dbo].[PROMOCIONES] ([IdPromociones])
GO
ALTER TABLE [dbo].[DETALLEPROMOCIONES] CHECK CONSTRAINT [FK_DETALLEPROMOCIONES_PROMOCIONES]
GO
