USE [InventarioWeb]
GO
/****** Object:  Table [dbo].[CIERRECAJA]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIERRECAJA](
	[IdCierre] [int] IDENTITY(1,1) NOT NULL,
	[FechaCierre] [date] NULL,
	[UsuarioCierre] [int] NULL,
	[IdSucursalCierre] [int] NULL,
	[MontoVentas] [nchar](10) NULL,
	[MontoCajaAnterior] [nchar](10) NULL,
 CONSTRAINT [PK_CIERRECAJA] PRIMARY KEY CLUSTERED 
(
	[IdCierre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CIUDAD]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIUDAD](
	[IdCiudad] [int] NOT NULL,
	[NombreCiudad] [varchar](250) NULL,
	[IdRegion] [int] NULL,
 CONSTRAINT [PK_CIUDAD] PRIMARY KEY CLUSTERED 
(
	[IdCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMUNA]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMUNA](
	[IdComuna] [int] NOT NULL,
	[NombreComuna] [varchar](250) NULL,
	[IdCiudad] [int] NULL,
 CONSTRAINT [PK_COMUNA] PRIMARY KEY CLUSTERED 
(
	[IdComuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[IdDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[PorcentajeGananciaDepartamento] [float] NULL,
	[TipodepartamentoDepartamento] [varchar](100) NULL,
 CONSTRAINT [PK_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLECIERRECAJA]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLECIERRECAJA](
	[IdDtallecierrecaja] [int] IDENTITY(1,1) NOT NULL,
	[IdCierrecaja] [int] NULL,
	[IdFormapago] [int] NULL,
	[MontoCierreCaja] [nchar](10) NULL,
 CONSTRAINT [PK_DETALLECIERRECAJA] PRIMARY KEY CLUSTERED 
(
	[IdDtallecierrecaja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETALLEDOCUMENTO]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLEDOCUMENTO](
	[IdDetalledocumento] [int] IDENTITY(1,1) NOT NULL,
	[IdDetalleproducto] [int] NULL,
	[IdDocumento] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioVenta] [int] NULL,
	[PrecioCosto] [int] NULL,
	[Utilidad] [int] NULL,
 CONSTRAINT [PK_DETALLEDOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[IdDetalledocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETALLEPRODUCTO]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETALLEPRODUCTO](
	[IdDetalleproducto] [int] IDENTITY(1,1) NOT NULL,
	[CodigoDetalleproducto] [varchar](250) NULL,
	[DescripcionDetalleproducto] [varchar](250) NULL,
	[PreciocompraDetalleproducto] [int] NOT NULL CONSTRAINT [DF_DETALLEPRODUCTO_PreciocompraDetalleproducto]  DEFAULT ((0)),
	[PorcentajegananciaDetalleproducto] [float] NULL CONSTRAINT [DF_DETALLEPRODUCTO_ProcentajegananciaDetalleproducto]  DEFAULT ((0)),
	[PrecioventaDetalleproducto] [int] NULL CONSTRAINT [DF_DETALLEPRODUCTO_PrecioventaDetalleproducto]  DEFAULT ((0)),
	[RutEmpresa] [varchar](12) NULL,
	[IdProducto] [int] NULL,
 CONSTRAINT [PK_DETALLEPRODUCTO] PRIMARY KEY CLUSTERED 
(
	[IdDetalleproducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOCUMENTO]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCUMENTO](
	[IdDocumento] [int] IDENTITY(1,1) NOT NULL,
	[RutEmpresa] [varchar](12) NULL,
	[RutproveedorDocumento] [varchar](12) NULL,
	[EstadoDocumento] [int] NULL,
	[IdFormapago] [int] NULL,
	[IdTipomovimiento] [int] NULL,
	[IdTipodocumento] [int] NULL,
	[NumeroDocumento] [int] NULL,
	[FechaemisionDocumento] [datetime] NULL,
	[MontototalDocumento] [int] NULL,
	[FechaingresoDocumento] [date] NULL,
 CONSTRAINT [PK_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[IdDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[RutEmpresa] [varchar](12) NOT NULL,
	[NombreEmpresa] [varchar](100) NULL,
	[IdTipoempresa] [int] NULL,
	[IdMaestra] [int] NULL,
 CONSTRAINT [PK_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[RutEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESTADODOCUMENTO]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADODOCUMENTO](
	[IdEstadoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[EstadoDocumento] [varchar](50) NULL,
 CONSTRAINT [PK_ESTADODOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[IdEstadoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORMAPAGO]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMAPAGO](
	[IdFormapago] [int] IDENTITY(1,1) NOT NULL,
	[FormaPago] [varchar](50) NULL,
 CONSTRAINT [PK_FORMAPAGO] PRIMARY KEY CLUSTERED 
(
	[IdFormapago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAESTRA]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAESTRA](
	[IdMaestra] [int] IDENTITY(1,1) NOT NULL,
	[LogoMaestra] [varchar](50) NULL,
 CONSTRAINT [PK_MAESTRA] PRIMARY KEY CLUSTERED 
(
	[IdMaestra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PORCENTAJEGANANCIA]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PORCENTAJEGANANCIA](
	[IdPorcentajeganancia] [int] NOT NULL,
	[IdDetalleproducto] [int] NULL,
	[PorcentajePorcentajeganancia] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[TipoproductoProducto] [varchar](100) NULL,
	[PorcentajeGananciaProducto] [float] NULL,
	[ImpuestoProducto] [int] NOT NULL CONSTRAINT [DF_PRODUCTO_ImpuestoProducto]  DEFAULT ((1)),
	[IdDepartamento] [int] NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REGION]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGION](
	[IdRegion] [int] NOT NULL,
	[NombreRegion] [varchar](250) NULL,
	[DescripcionRegion] [varchar](250) NULL,
 CONSTRAINT [PK_REGION] PRIMARY KEY CLUSTERED 
(
	[IdRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROL](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[TipoRol] [varchar](50) NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STOCK]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK](
	[IdStock] [int] IDENTITY(1,1) NOT NULL,
	[IdSucursal] [int] NULL,
	[FechaingresoStock] [datetime] NULL,
	[IngresoStock] [int] NULL,
	[EgresoStock] [int] NULL,
	[CantidadStock] [int] NULL,
	[IdDetalleproducto] [int] NULL,
 CONSTRAINT [PK_STOCK] PRIMARY KEY CLUSTERED 
(
	[IdStock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[IdSucursal] [int] IDENTITY(1,1) NOT NULL,
	[RutEmpresa] [varchar](12) NULL,
	[NombreSucursal] [varchar](250) NULL,
	[DireccionSucursal] [varchar](250) NULL,
	[TelefonoSucursal] [varchar](50) NULL,
	[IdComuna] [int] NULL,
	[IdMaestra] [int] NULL,
 CONSTRAINT [PK_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SucursalUsuario]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SucursalUsuario](
	[IdUsuario] [int] NULL,
	[IdSucursal] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPODOCUMENTO]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPODOCUMENTO](
	[IdTipodocumento] [int] NOT NULL,
	[TipoDocumento] [varchar](50) NULL,
 CONSTRAINT [PK_TIPODOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[IdTipodocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOEMPRESA]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOEMPRESA](
	[IdTipoempresa] [int] NOT NULL,
	[TipomempresaTipoempresa] [varchar](50) NULL,
 CONSTRAINT [PK_TIPOEMPRESA] PRIMARY KEY CLUSTERED 
(
	[IdTipoempresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOMOVIMIENTO]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOMOVIMIENTO](
	[IdTipomovimiento] [int] IDENTITY(1,1) NOT NULL,
	[TipoMovimiento] [nchar](1) NULL,
	[NombreMovimiento] [varchar](50) NULL,
 CONSTRAINT [PK_TIPOMOVIMIENTO] PRIMARY KEY CLUSTERED 
(
	[IdTipomovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NULL,
	[NombreUsuario] [varchar](100) NULL,
	[ApellidoUsuario] [varchar](100) NULL,
	[CorreoUsuario] [varchar](100) NULL,
	[UsuarioUsuario] [varchar](100) NULL,
	[ClaveUsuario] [varchar](100) NULL,
	[ActivoUsuario] [int] NULL,
	[FecharegistroUsuario] [datetime] NULL,
	[IdMaestra] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 24/10/2014 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[IdVenta] [int] NOT NULL,
	[FechaventaVenta] [datetime] NULL,
	[CantidadVenta] [int] NULL,
	[ValorunitarioVenta] [int] NULL,
	[DescuentoVenta] [int] NULL,
	[ValorVenta] [int] NULL,
	[Utilidad] [int] NULL,
	[IdStock] [int] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CIERRECAJA]  WITH CHECK ADD  CONSTRAINT [FK_CIERRECAJA_SUCURSAL] FOREIGN KEY([IdSucursalCierre])
REFERENCES [dbo].[SUCURSAL] ([IdSucursal])
GO
ALTER TABLE [dbo].[CIERRECAJA] CHECK CONSTRAINT [FK_CIERRECAJA_SUCURSAL]
GO
ALTER TABLE [dbo].[CIUDAD]  WITH CHECK ADD  CONSTRAINT [FK_CIUDAD_REGION] FOREIGN KEY([IdRegion])
REFERENCES [dbo].[REGION] ([IdRegion])
GO
ALTER TABLE [dbo].[CIUDAD] CHECK CONSTRAINT [FK_CIUDAD_REGION]
GO
ALTER TABLE [dbo].[COMUNA]  WITH CHECK ADD  CONSTRAINT [FK_COMUNA_CIUDAD] FOREIGN KEY([IdCiudad])
REFERENCES [dbo].[CIUDAD] ([IdCiudad])
GO
ALTER TABLE [dbo].[COMUNA] CHECK CONSTRAINT [FK_COMUNA_CIUDAD]
GO
ALTER TABLE [dbo].[DETALLECIERRECAJA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLECIERRECAJA_CIERRECAJA] FOREIGN KEY([IdCierrecaja])
REFERENCES [dbo].[CIERRECAJA] ([IdCierre])
GO
ALTER TABLE [dbo].[DETALLECIERRECAJA] CHECK CONSTRAINT [FK_DETALLECIERRECAJA_CIERRECAJA]
GO
ALTER TABLE [dbo].[DETALLECIERRECAJA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLECIERRECAJA_FORMAPAGO] FOREIGN KEY([IdFormapago])
REFERENCES [dbo].[FORMAPAGO] ([IdFormapago])
GO
ALTER TABLE [dbo].[DETALLECIERRECAJA] CHECK CONSTRAINT [FK_DETALLECIERRECAJA_FORMAPAGO]
GO
ALTER TABLE [dbo].[DETALLEDOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEDOCUMENTO_DETALLEPRODUCTO] FOREIGN KEY([IdDetalleproducto])
REFERENCES [dbo].[DETALLEPRODUCTO] ([IdDetalleproducto])
GO
ALTER TABLE [dbo].[DETALLEDOCUMENTO] CHECK CONSTRAINT [FK_DETALLEDOCUMENTO_DETALLEPRODUCTO]
GO
ALTER TABLE [dbo].[DETALLEDOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEDOCUMENTO_DOCUMENTO] FOREIGN KEY([IdDocumento])
REFERENCES [dbo].[DOCUMENTO] ([IdDocumento])
GO
ALTER TABLE [dbo].[DETALLEDOCUMENTO] CHECK CONSTRAINT [FK_DETALLEDOCUMENTO_DOCUMENTO]
GO
ALTER TABLE [dbo].[DETALLEPRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEPRODUCTO_PRODUCTO] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[DETALLEPRODUCTO] CHECK CONSTRAINT [FK_DETALLEPRODUCTO_PRODUCTO]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTO_EMPRESA] FOREIGN KEY([RutproveedorDocumento])
REFERENCES [dbo].[EMPRESA] ([RutEmpresa])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK_DOCUMENTO_EMPRESA]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTO_EMPRESA1] FOREIGN KEY([RutEmpresa])
REFERENCES [dbo].[EMPRESA] ([RutEmpresa])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK_DOCUMENTO_EMPRESA1]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTO_ESTADODOCUMENTO] FOREIGN KEY([EstadoDocumento])
REFERENCES [dbo].[ESTADODOCUMENTO] ([IdEstadoDocumento])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK_DOCUMENTO_ESTADODOCUMENTO]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTO_FORMAPAGO] FOREIGN KEY([IdFormapago])
REFERENCES [dbo].[FORMAPAGO] ([IdFormapago])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK_DOCUMENTO_FORMAPAGO]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTO_TIPODOCUMENTO] FOREIGN KEY([IdTipodocumento])
REFERENCES [dbo].[TIPODOCUMENTO] ([IdTipodocumento])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK_DOCUMENTO_TIPODOCUMENTO]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTO_TIPOMOVIMIENTO] FOREIGN KEY([IdTipomovimiento])
REFERENCES [dbo].[TIPOMOVIMIENTO] ([IdTipomovimiento])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK_DOCUMENTO_TIPOMOVIMIENTO]
GO
ALTER TABLE [dbo].[EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_MAESTRA] FOREIGN KEY([IdMaestra])
REFERENCES [dbo].[MAESTRA] ([IdMaestra])
GO
ALTER TABLE [dbo].[EMPRESA] CHECK CONSTRAINT [FK_EMPRESA_MAESTRA]
GO
ALTER TABLE [dbo].[EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_TIPOEMPRESA] FOREIGN KEY([IdTipoempresa])
REFERENCES [dbo].[TIPOEMPRESA] ([IdTipoempresa])
GO
ALTER TABLE [dbo].[EMPRESA] CHECK CONSTRAINT [FK_EMPRESA_TIPOEMPRESA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_DEPARTAMENTO] FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[DEPARTAMENTO] ([IdDepartamento])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_DEPARTAMENTO]
GO
ALTER TABLE [dbo].[STOCK]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_DETALLEPRODUCTO] FOREIGN KEY([IdDetalleproducto])
REFERENCES [dbo].[DETALLEPRODUCTO] ([IdDetalleproducto])
GO
ALTER TABLE [dbo].[STOCK] CHECK CONSTRAINT [FK_STOCK_DETALLEPRODUCTO]
GO
ALTER TABLE [dbo].[STOCK]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_SUCURSAL] FOREIGN KEY([IdSucursal])
REFERENCES [dbo].[SUCURSAL] ([IdSucursal])
GO
ALTER TABLE [dbo].[STOCK] CHECK CONSTRAINT [FK_STOCK_SUCURSAL]
GO
ALTER TABLE [dbo].[SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_SUCURSAL_COMUNA] FOREIGN KEY([IdComuna])
REFERENCES [dbo].[COMUNA] ([IdComuna])
GO
ALTER TABLE [dbo].[SUCURSAL] CHECK CONSTRAINT [FK_SUCURSAL_COMUNA]
GO
ALTER TABLE [dbo].[SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_SUCURSAL_EMPRESA] FOREIGN KEY([RutEmpresa])
REFERENCES [dbo].[EMPRESA] ([RutEmpresa])
GO
ALTER TABLE [dbo].[SUCURSAL] CHECK CONSTRAINT [FK_SUCURSAL_EMPRESA]
GO
ALTER TABLE [dbo].[SucursalUsuario]  WITH CHECK ADD  CONSTRAINT [FK_SucursalUsuario_SUCURSAL] FOREIGN KEY([IdSucursal])
REFERENCES [dbo].[SUCURSAL] ([IdSucursal])
GO
ALTER TABLE [dbo].[SucursalUsuario] CHECK CONSTRAINT [FK_SucursalUsuario_SUCURSAL]
GO
ALTER TABLE [dbo].[SucursalUsuario]  WITH CHECK ADD  CONSTRAINT [FK_SucursalUsuario_USUARIO] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([IdUsuario])
GO
ALTER TABLE [dbo].[SucursalUsuario] CHECK CONSTRAINT [FK_SucursalUsuario_USUARIO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_MAESTRA] FOREIGN KEY([IdMaestra])
REFERENCES [dbo].[MAESTRA] ([IdMaestra])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_MAESTRA]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ROL]
GO
